<% provide(:title, "about") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Cisc 260 Sample App </title>
</head>
<body>
<h1> Sample App </h1>
<p>
  This is the home page for <a href=“http://harrisburgu.edu”>Harrisburg University</a> sample application.
</p>
</body>
</html>